.obsidian/
azuredeploy.json
azuredeploy.parameters.json
ManufacturingVMazuredeploy.json
ManufacturingVMazuredeploy.parameters.json
CoreServicesVMazuredeploy.json
CoreServicesVMazuredeploy.parameters.json
backend.json
backend.parameters.json
install-iis.ps1
myvm-ssh-key.pem